@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

html, body {
	height: 100%;
}

body {
  /*background: #fbfbfb url(../images/bg.jpg) 0 0 repeat;*/
  background: #F2F2F2;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  color: #666;
  line-height: 20px;
  -webkit-text-size-adjust: none;
}

.dataTables_filter {
  padding-right: 5px;
  padding-top: 4px;
}

.dataTables_length {
  padding-left: 5px;
  padding-top: 7px;
}

.dataTables_info {
  padding-left: 5px;
}

h4.list-group-item-heading {
  padding-bottom: 0px;
}

#trellis td {
    width: 200px;
    height: 200px;
}
#trellis td.first {
    width: 300px;
}

.table {

  /*border-left-width: 0px;
  border-right-width: 0px;*/
}
.footer {
  /*position: absolute;*/
  /*bottom: 0;*/
  width: 100%;
  height: 40px;
  background-color: #47475C;
}

.content {
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  right: 10px;
  padding:10px;
  position:static;
  color:#767676;
  font-family:Verdana, sans-serif ;
  font-size:12px ;
  background:#FFFFFF;
  box-shadow: 0px 0px 1px 1px #888888;
  margin-bottom: 20px;
}

.contentsummary {
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  right: 10px;
  padding:10px;
  position:static;
  color:#767676;
  font-family:Verdana, sans-serif ;
  font-size:12px ;
  background:#FFFFFF;
  box-shadow: 0px 0px 1px 1px #888888;
  margin-bottom: 20px;
  margin-left: 15px;
  /*margin-right: 15px;*/
}

.content > h3 {
  color: #476692;
  padding-bottom: 15px;
  padding-top: 5px
}

.vresize {
  resize: vertical; 
}


#json_gym_length {

  padding-left: 5px;
}

.main_center {
  padding-top: 40px;
}

.breadcrumb {
  margin-top: 20px;
}

.tab-content {
  padding-top: 10px;
}

.jumbotron.page-header {

  padding-top: 20px;
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {

	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	margin: 0;	
  text-align: center;
  color: #476692;
  padding-bottom: 20px;
}

.container.pills {

  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.navbar-default {
  /*background-color: #444444;*/
  background-color: #47475C;
  border-color: #8e44ad;
}

#pills_menu.navbar-default {
  background-color: #AFAFAF;
  border-color: white;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  /*color: #ecf0f1;*/
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
  border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
  }
}

.tablehead  {
	/*background-color: #81ABAB;*/
    background-color: #BBBBBB;
}

.label {
	font-size: 1.2em;
}

#actionButtons {
	padding-bottom: 10px;
}

table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
  cursor: pointer;
}

.dt-buttons {
	/*padding-left: 10px;*/
  display: inline-block;
  padding: 0px 0px 6px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.dataTables_wrapper .dataTables_length {
  float: left;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}

ul.pagination {
  padding-right: 5px;
}

.menu_buttons_icon{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 7px;
    margin-right: 10px;

} 

.navbar-default .navbar-nav > li > a#log_out{
    color: red;
}

.navbar-default .navbar-nav > li > a#log_out:hover,
.navbar-default .navbar-nav > li > a#log_out:focus,
.navbar-default .navbar-nav > li > a#home:hover,
.navbar-default .navbar-nav > li > a#home:focus{
    background-color: #e6e6e6;
}

.navbar-default .navbar-nav > li > a#home{
    color: #8AB345;
}

.message {
	text-align: center;
  font-size: 1.2em;
}

.message_manage {
  text-align: center;
  font-size: 1.2em;
  margin-top: 15px;
}

.form_space{
    
    margin-top: 5px;
    margin-bottom: 5px;
}

.panel {
    border: 2px solid #afafaf;
}

.panel-heading {
  text-align: center;
}

.panel-title {
  font-size: 2em;
  padding-bottom: 0px;
}

.panel-body {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
}

#json_gym_info {

  padding-left: 10px;
}

.panel-footer#panel_footer{

  background-color: #fcf8e3;
  padding-top: 20px;
}

#pill_btn {
   padding: 0px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
    background-color: #F4F0CB;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
    background-color: #FDF7F7;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
    background-color: #F4F8FA;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.breadcrumb {background: rgba(100, 102, 101, 1); border: 0px solid rgba(194, 194, 194, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(9, 240, 48, 1);}
.breadcrumb a:hover {color: rgba(186, 212, 195, 1);}
.breadcrumb>.active {color: rgba(171, 199, 28, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}

/*
 *
 *
 * loader
 */
 #ajax_loader {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  z-index: 1000 !important;
  height: 2em;
  width: 2em;
 }

/*
* tabs
*
*
*/

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

#nav-bar-chart {
  border-top: 2px solid #5bc0de;
}

#nav-pie-chart {
  border-top: 2px solid #d9534f;
}

#nav-pie-chart-general {
  border-top: 2px solid #428bca;
}

#nav-bar-chart-general {
  border-top: 2px solid #f0ad4e;
}

#nav-table-view {
  border-top: 2px solid #5cb85c;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
} 
/* bootstrap hack end */
